
// 隐藏滚动条
.a-scrollbar-hide {
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #e8eaec;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
