// antd 变量
@import '~ant-design-vue/lib/style/index';

// The prefix to use on all css classes from ant-pro.
@ant-pro-prefix: ant-pro;
@ant-global-sider-zindex: 106;
@ant-global-header-zindex: 105;

// font
// @font-color: #4a4a4a;

// layout
// @header-height: 64px;
// @header-color: #fff;
// @sider-width: 256px;
// @footer-height: 30px;

// base color
// @blue: #324157;
// @light-blue: #3a71a8;
// @red: #c03639;
// @pink: #e65d6e;
// @green: #30b08f;
// @tiffany: #4ab7bd;
// @yellow: #eb7347;
// @panGreen: #3ebfc7;
// @gray-title: #909399;
